<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Payment History </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
      </ol>
    </nav>
  </div>
  <div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Billings Statements</h4>
          <p class="card-description"> Transactions <code>.records</code>
          </p>
          <div class="overflow-auto">
            <table class="table table-bordered">
              <thead>
                <tr class="table-secondary">
                  <th> Billing Date </th>
                  <th> Item </th>
                  <th> Currency </th>
                  <th> Amount </th>
                  <th> Method </th>
                  <th> Transaction Id </th>
                </tr>
              </thead>
              <tbody>
                <% if (payments && payments.length> 0) { %>
                  <% payments.forEach(function(payment) { %>
                    <tr>
                      <td>
                        <%= payment.paymentDate.toLocaleString('en-IN', { year: 'numeric' , month: 'long' ,
                          day: 'numeric' }) %>
                      </td>
                      <td>
                        <%= payment.subscription.plan.title %>
                      </td>
                      <td>
                        <%= payment.currency %>
                      </td>
                      <td>
                        <%= payment.amount %>
                      </td>
                      <td>
                        <%= payment.paymentMethod %>
                      </td>
                      <td>
                        <%= payment.transactionId %>
                      </td>
                    </tr>
                    <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="6" class="text-center">No payments available</td>
                        </tr>
                        <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>